{% extends "index.html" %}
{% block content %}
    <div class="col-md-12 bg-light content">
        <h1 class="mb-3">Розгляд справи</h1>
        <h4 class="mb-3">Відповідно до ст. 278 зараз відбувається підготовка до розгляду справи про адміністративне провадження.</h4>
        <p class="text-justify">Роз’яснюю права особи, яка притягується до адміністративної відповідно до ст. 268 КУпАП</p>
        <h3 class="mb-3">Ви маєте право:</h3>
        <ul class="mb-3">
            <li >знайомитись з матеріалами справи, давати пояснення, подавати  докази, заявляти клопотання</li>
            <li >при розгляді справи користуватись юридичною допомогою адвоката,  іншого фахівця в галузі права який за законом має право на надання допомоги ососбисто чи за дорученням юридичної особи, виступати рідною мовою і користуватись послугами перекладача,  якщо не володіє мовою, якою  ведеться провадження</li>
            <li >оскаржити постанову по справі</li>

        </ul>
        <p class="text-justify">
            Справа про адміністративне правопорушення розглядається в присутності особи, яка притягується до адмністративної відповідальності
            Під час відсутності цієї ососби справу може бути розглянуло лише у випадках, коли є данні про своєчасне її сповіщення про місце
            і час розгляду справи і якщо від неї не надійшло клопотання про відкладення  розгляду справи.
        </p>
        <h4 class="mb-3">
            Ви бажаєте надати пояснення по факту вище зазначеного правопорушення, або в якості доказів  відео з реєстратора, чи заявити клопотання? Оскільки я повинен ознайомитись з ними до початку розгляду справу по суті.
        </h4>
        <h4>
            Справу буду розглядати я {{ input_data['police_position'] }} {{ input_data['police_rang'] }} поліції {{ input_data['police_bio'] }}
            Повідомляю Вас {{ input_data['first_name'] }} {{ input_data['last_name'] }} {{ input_data['middle_name'] }} що справа буде розглянута за місцем вчинення правопорушення	{{ input_data['date_time_event'] }}	після підготовчого етапу за адресою: м. Херсон вул. Патона 13
        </h4>
    </div>
{% endblock %}