{% extends "index.html" %}
{% block content %}
    <div class="col-md-12 card">
        <h1 class="text-center">Розгляд справи</h1>
        <h2 class="mb-3 text-dark">Відповідно до ст. 278 зараз відбувається підготовка до розгляду справи про адміністративне провадження.</h2>
        <p class="text-justify">Роз’яснюю права особи, яка притягується до адміністративної відповідно до ст. 268 КУпАП</p>
        <h3 class="mb-3 text-dark">Ви маєте право:</h3>
        <ul class="mb-3 text-dark">
            <li >знайомитись з матеріалами справи, давати пояснення, подавати  докази, заявляти клопотання</li>
            <li >при розгляді справи користуватись юридичною допомогою адвоката,  іншого фахівця в галузі права який за законом має право на надання допомоги ососбисто чи за дорученням юридичної особи, виступати рідною мовою і користуватись послугами перекладача,  якщо не володіє мовою, якою  ведеться провадження</li>
            <li >оскаржити постанову по справі</li>

        </ul>
        <p class="text-justify text-dark">
            Справа про адміністративне правопорушення розглядається в присутності особи, яка притягується до адмністративної відповідальності
            Під час відсутності цієї ососби справу може бути розглянуло лише у випадках, коли є данні про своєчасне її сповіщення про місце
            і час розгляду справи і якщо від неї не надійшло клопотання про відкладення  розгляду справи.
        </p>
        <h3 class="mb-3 text-dark">
            Ви бажаєте надати пояснення по факту вище зазначеного правопорушення, або в якості доказів  відео з реєстратора, чи заявити клопотання? Оскільки я повинен ознайомитись з ними до початку розгляду справу по суті.
        </h3>
        <h3>
            Справу буду розглядати я {{ input_data['police_position'] }} {{ input_data['police_rang'] }} поліції {{ input_data['police_bio'] }}
            Повідомляю Вас {{ input_data['first_name'] }} {{ input_data['last_name'] }} {{ input_data['middle_name'] }} що справа буде розглянута за місцем вчинення правопорушення	{{ input_data['date_time_event'] }}	після підготовчого етапу за адресою: {{ input_data['place_event'] }}
        </h3>
        <p class="text-danger">Якщо перенесення розгляду справи  суттєво впливатиме на своєчасне повне і обєктивне з'ясування обставин  справи, вирішення її в точній відповідності з законом, то рекомендовано задовольнити клопотання і перенести розгляд справи на строк відповідно до статті 38 КУпАП.</p>
        <h2 class="text-center">Відповідно до ст. 279 КУпАП (Розгляд справи )</h2>
        <p>Я   старший інспекторн ТЦ ГУНП в Херсонській області старший лейтенант поліції Голиш Ігор Дмитрович
        відповідно до ст. 222 КУпАП здійснюю розгляд адміністративного провадження віднсно громадянина:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ПІБ {{ input_data['first_name'] }} {{ input_data['last_name'] }} {{ input_data['middle_name'] }}</li>
            <li class="list-group-item">дата народження {{ input_data['date_birthday'] }}</li>
            <li class="list-group-item">документ {{ input_data['document'] }}</li>
            <li class="list-group-item">зареєстрований {{ input_data['reg_place'] }}</li>
            <li class="list-group-item">дата(час) розгляду {{ input_data['date_time_event'] }}</li>
            <li class="list-group-item">місце розгляду {{ input_data['place_event'] }}</li>
            <li class="list-group-item">транспортний засіб {{ input_data['vehicle'] }}</li>
            <li class="list-group-item">порушення ПДР {{ input_data['incident'] }} {{ input_data['incident_pdd'] }}</li>
            <li class="list-group-item">свідки {{ input_data['witness'] }}</li>
            <li class="list-group-item">стягнення {{ input_data['fine'] }}</li>
        </ul>
        <p>у відношені якого відкрите адміністративне   провадження   у   звязку  із тим,
        що порушив вимогу п. 3.3 ПДР (д/з рух вантажних авто заборонено) та ч.1 ст. 122 КУпАП
        Під час розгляду справи присутні: Особа відносно якої відкрите адміністративне провадження
        Шевченко Андрій володимирович свідки л-нт поліції Кравченко Ростислав Анатолійович,
        яка розглядає справу старший лейтенант поліції Голиш Ігор Дмитрович
        Розяснюю права особи, яка притягається до адміністративної віповідальності ст 268 КУпАП ( повторно )</p>
    </div>
{% endblock %}