{% extends "index.html" %}
{% block content %}
    <div class="col-md-12 card">
        <h1 class="text-center">Розгляд справи</h1>
        <p class="mb-3 text-center text-dark">Відповідно до ст. 278 КУпАП зараз відбувається підготовка до розгляду справи про адміністративне правопорушення.
            <br> Роз’яснюю права особи, яка притягується до адміністративної  відповідальності відповідно до ст. 268 КУпАП.</p>
        <p class="mb-3 text-dark text-left">Ви маєте право:</p>
        <ul class="mb-3 text-dark">
            <li >знайомитись з матеріалами справи, давати пояснення, подавати  докази, заявляти клопотання</li>
            <li >при розгляді справи користуватись юридичною допомогою адвоката,  іншого фахівця в галузі права який за законом має право на надання допомоги ососбисто чи за дорученням юридичної особи, виступати рідною мовою і користуватись послугами перекладача,  якщо не володіє мовою, якою  ведеться провадження</li>
            <li >оскаржити постанову по справі</li>
        </ul>
        <p class="text-justify text-dark text-center">Справа про адміністративне правопорушення розглядається в присутності особи, яка притягується до адміністративної відповідальності Під час відсутності цієї особи справу може бути розглянуло лише у випадках, коли є данні про своєчасне її сповіщення про місце і час розгляду справи і якщо від неї не надійшло клопотання про відкладення розгляду справи.
            <br>Ви бажаєте надати пояснення по факту вище зазначеного правопорушення, або в якості доказів надати відео з реєстратора, чи заявити клопотання? Оскільки я повинен ознайомитись з ними до початку розгляду справу по суті.</p>
        <p class="text-center text-center">Справу буду розглядати я {{ input_data['police_position'] }} {{ input_data['police_rang'] }} {{ input_data['police_bio'] }}
            <br>Повідомляю Вас {{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }} що справа бу де розглянута за місцем вчинення правопорушення	{{ input_data['date_time_event'] }}	після підготовчого етапу за адресою: {{ input_data['place_event'] }}</p>
        <p class="text-center text-danger">Якщо перенесення розгляду справи суттєво впливатиме на своєчасне повне і об’єктивне з'ясування обставин справи, вирішення її в точній відповідності з законом, то рекомендовано задовольнити клопотання і перенести розгляд справи на строк відповідно до статті 38 КУпАП.</p>
        <p class="text-center">Відповідно до ст. 279 КУпАП (Розгляд справи )</p>
        <p>Я {{ input_data['police_position'] }} {{ input_data['police_rang'] }} {{ input_data['police_bio'] }}
            відповідно до ст. 222 КУпАП здійснюю розгляд адміністративного провадження віднсно громадянина:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ПІБ {{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }}</li>
            <li class="list-group-item">дата народження {{ input_data['date_birthday'] }}</li>
            <li class="list-group-item">документ {{ input_data['document'] }}</li>
            <li class="list-group-item">зареєстрований {{ input_data['reg_place'] }}</li>
            <li class="list-group-item">дата(час) розгляду {{ input_data['date_time_event'] }}</li>
            <li class="list-group-item">місце розгляду {{ input_data['place_event'] }}</li>
            <li class="list-group-item">транспортний засіб {{ input_data['vehicle'] }}</li>
            <li class="list-group-item">порушення ПДР {{ input_data['incident'] }}</li>
            <li class="list-group-item">свідки {{ input_data['witness'] }}</li>
            <li class="list-group-item">стягнення {{ input_data['fine'] }}</li>
        </ul>
        <p class="text-center text-dark">у відношенні якого відкрите адміністративне провадження у зв’язку із тим,
            що порушив вимогу {{ input_data['incident_pdd'] }} та {{ input_data['incident'] }}
            Під час розгляду справи присутні: особа  відносно якої відкрите адміністративне провадження
            {{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }}, свідки  {{ input_data['witness'] }}, особа яка розглядає справу {{ input_data['police_rang'] }} {{ input_data['police_bio'] }}
            Розяснюю права особи, яка притягається до адміністративної віповідальності {{ input_data['incident'] }}</p>
        <p class="text-danger text-center">Відповідно до постанови КМУ № 1363 від 28 грудня 2011 р. ( безоплатна правова  допомога надається в рамках адміністративного затримання, затримання за підозру вчинення злочину , затримання на підставі ухвали слідчого судді,  суду про дозвіл на затримання з метою приводу)</p>
        <p class="text-center text-dark">{{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }} {{ input_data['witness'] }} бажаєте подати клопотання ?
            <br>Оголошується зміст адміністративного провадження: {{ input_data['date_time_event'] }} за адресою : м. Херсон вул. Патона 13 громадяни	{{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }} {{ input_data['date_birthday'] }} зареєстрований за адресою:{{ input_data['reg_place'] }} керуючи	транспортним засобом {{ input_data['vehicle'] }} {{ input_data['incident'] }}</p>
        <p>Особа яка притягується до адміністративної відповідальності {{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }} {{ input_data['date_birthday'] }} відмовилась (погодилась)  надавати, як доказ відео з власного відеореєтратора, пояснення, клопотання. Розглянувши матеріали справи (ст. 251 КУпАП) фактичні дані (відео з "боді камери", пояснення, рапорта ) Заслухавши покази свідків керуючись внутрішнім переконанням, що ґрунтується на всебічному повному і об’єктивному досліджені всіх обставин  справи в їх сукупності, керуючись законом і правосвідомістю</p>
        <p class="text-danger text-center">ПОСТАНОВИВ</p>
        <p class="text-danger text-center"><br> Притягнути {{ input_data['last_name'] }} {{ input_data['first_name'] }} {{ input_data['middle_name'] }} {{ input_data['date_birthday'] }}  за те, що вище вказаний громадянин {{ input_data['incident'] }} відповідно визнати особу відносно якої розглядалась справа винною, у вчинені адміністративного правопорушення, та накласти адміністративне стягнення у вигляді {{ input_data['fine'] }} Згідно ст. 292 КУпАП постанова може бути оскаржена в десятиденний строк</p>
    </div>
{% endblock %}